<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" type="image/png" href="../asset/theme4/images/icon/icon.png">

    <title>
        aitradeex |
        Forgot password
    </title>

    <link rel="stylesheet" href="{% static "styles/cookie.css" %}">
    <link href="{% static "styles/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "styles/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "styles/slick.css" %}">
    <link rel="stylesheet" href="{% static "styles/font-awsome.min.css" %}">
    <link rel="stylesheet" href="{% static "styles/iziToast.min.css" %}">
    <link href="{% static "styles/style.css" %}" rel="stylesheet">

</head>

<body cz-shortcut-listen="true">
    <div id="preloader"></div>




    <main id="main" class="main-img">

        <section class="auth-section">
            <div class="auth-wrapper">
                <div class="auth-top-part">
                    <a href="{% url "porfolio:home" %}" class="auth-logo" style="text-decoration:none">
                        <span style="font-weight:bold; font-size:100%; color:#0088cc" >AITRADELINK</span> </a>
                    </a>
                    <p class="text-center"><span class="me-2">Login again?</span> <a href="{% url "porfolio:login" %}"
                            style="text-decoration: none;" >Login</a></p>
                </div>

                <div class="auth-body-part">
                    <div class="auth-form-wrapper">
                        <h3 class="text-center mb-4">Request for reset password</h3>
                        <form action="{% url 'password_reset' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label>Email address <span class="sp_text_danger">*</span></label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
                            </div>
                            <button type="submit" id="recaptcha" style="width: 100%; height: 25%; padding: 5px; background: #00529e; border-radius: 12px; border-color: transparent;">
                                <span style="color: white;">Send verification code</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="auth-footer-part">
                    <p class="text-center mb-0">
                        ©2025 - 2029.
                        aitradelink . All Rights Reserved.
                    </p>
                </div>
            </div>
            <div class="auth-thumb-area" style="background-image: url('../asset/theme3/images/bg/plan.jpg')">
                <div class="auth-thumb">
                    <img src="{% static "images/frontend_login_image.png" %}" alt="image">
                </div>
            </div>
        </section>

    </main>

    <script async src="{% static "scripts/1h87jj5vm" %}" charset="UTF-8" crossorigin="*"></script>
    <script src="{% static "scripts/jquery.min.js" %}"></script>
    <script src="{% static "scripts/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "scripts/slick.min.js" %}"></script>

    <script src="{% static "scripts/wow.min.js" %}"></script>
    <script src="{% static "scripts/jquery.paroller.min.js" %}"></script>
    <script src="{% static "scripts/TweenMax.min.js" %}"></script>

    <script src="{% static "scripts/validate.js" %}"></script>
    <script src="{% static "scripts/main.js" %}"></script>
    <script src="{% static "scripts/iziToast.min.js" %}"></script>
    <script src="{% static "scripts/jquery.uploadPreview.min.js" %}"></script>