{% extends 'base.html' %}

{% load static %}

{% block title %}
Privacy Policy
{% endblock %}

{% block content %}

<body
	class="page-template-default page page-id-677 wp-embed-responsive ui-a-dsmm-slide uicore-sticky-tb elementor-default elementor-kit-6 elementor-page elementor-page-677 e--ua-blink e--ua-chrome e--ua-webkit"
	data-elementor-device-mode="tablet" cz-shortcut-listen="true">
	<div class="cky-overlay cky-hide"></div>
	
	
	<div class="ekit-template-content-markup ekit-template-content-header ekit-template-content-theme-support">
		<div data-elementor-type="wp-post" data-elementor-id="563" class="elementor elementor-563"
			data-elementor-post-type="elementskit_template">
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-ce1ab6f elementor-section-boxed elementor-section-height-default"
				data-id="ce1ab6f" data-element_type="section"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-880c56b"
						data-id="880c56b" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-755c5698 elementor-icon-list--layout-inline elementor-mobile-align-center elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
								data-id="755c5698" data-element_type="widget" data-widget_type="icon-list.default">
								<div class="elementor-widget-container">
									<link rel="stylesheet" href="{% static "styles/widget-icon-list.min.css" %}">
									<ul class="elementor-icon-list-items elementor-inline-items">
										<li class="elementor-icon-list-item elementor-inline-item">
											<a href="{% url 'porfolio:register' %}">

												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="fasicon icon-phone-call2"></i> </span>
												<span class="elementor-icon-list-text">Start trading on aitradelink.
													Learn more</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-38939c7f elementor-section-full_width elementor-section-height-default"
				data-id="38939c7f" data-element_type="section"
				data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-23ce833c"
						data-id="23ce833c" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-2b3395a elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								data-id="2b3395a" data-element_type="widget" data-widget_type="divider.default">
								<div class="elementor-widget-container">
									
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-5b87bf42 elementor-section-content-middle elementor-section-boxed elementor-section-height-default"
								data-id="5b87bf42" data-element_type="section"
								data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
								<div class="elementor-background-overlay"></div>
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-ef1aef4"
										data-id="ef1aef4" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-3bec984e elementor-widget__width-auto elementor-widget elementor-widget-image"
												data-id="3bec984e" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<style>
														/*! elementor - v3.15.0 - 20-08-2023 */
														.elementor-widget-image {
															text-align: center
														}

														.elementor-widget-image a {
															display: inline-block
														}

														.elementor-widget-image a img[src$=".svg"] {
															width: 48px
														}

														.elementor-widget-image img {
															vertical-align: middle;
															display: inline-block
														}
													</style> <a href="{% url 'porfolio:home' %}">
														<img width="340" height="126" src="{% static "images/deficrypto-1.png" %}"
															class="attachment-full size-full wp-image-1164" alt=""> </a>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-2166094e"
										data-id="2166094e" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-3e85e81f elementor-widget__width-auto elementor-widget elementor-widget-ekit-nav-menu"
												data-id="3e85e81f" data-element_type="widget"
												data-widget_type="ekit-nav-menu.default">
												<div class="elementor-widget-container">
													<div class="ekit-wid-con ekit_menu_responsive_tablet"
														data-hamburger-icon="" data-hamburger-icon-type="icon"
														data-responsive-breakpoint="1024"> <button
															class="elementskit-menu-hamburger elementskit-menu-toggler"
															type="button" aria-label="hamburger-icon">
															<span class="elementskit-menu-hamburger-icon"></span><span
																class="elementskit-menu-hamburger-icon"></span><span
																class="elementskit-menu-hamburger-icon"></span>
														</button>
														<div id="ekit-megamenu-headermenu"
															class="elementskit-menu-container elementskit-menu-offcanvas-elements elementskit-navbar-nav-default elementskit_line_arrow ekit-nav-menu-one-page-no ekit-nav-dropdown-hover"
															ekit-dom-added="yes">
															<ul id="menu-headermenu"
																class="elementskit-navbar-nav elementskit-menu-po-center submenu-click-on-icon">
																<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-253 nav-item elementskit-mobile-builder-content"
																	data-vertical-menu="750px"><a
																		href="{% url 'porfolio:home' %}"
																		class="ekit-menu-nav-link">Home</a></li>
																<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-687 nav-item elementskit-mobile-builder-content"
																	data-vertical-menu="750px"><a
																		href="{% url 'porfolio:about' %}"
																		class="ekit-menu-nav-link">About</a></li>
																<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-767 nav-item elementskit-mobile-builder-content"
																	data-vertical-menu="750px"><a
																		href="{% url 'porfolio:home' %}"
																		class="ekit-menu-nav-link">Invest</a></li>
																<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-766 nav-item elementskit-mobile-builder-content"
																	data-vertical-menu="750px"><a
																		href="{% url 'porfolio:home' %}"
																		class="ekit-menu-nav-link">Trade</a></li>
																<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-984 nav-item elementskit-mobile-builder-content"
																	data-vertical-menu="750px"><a
																	href="{% url 'porfolio:home' %}#features"
																		class="ekit-menu-nav-link">Features</a></li>
																<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-686 nav-item elementskit-mobile-builder-content"
																	data-vertical-menu="750px"><a
																		href="{% url 'porfolio:contact' %}"
																		class="ekit-menu-nav-link">Contact</a></li>
															</ul>
															<div class="elementskit-nav-identity-panel">
																<div class="elementskit-site-title">
																	<a class="elementskit-nav-logo"
																	href="{% url 'porfolio:home' %}" target="_self" rel="">
																		<img width="300" height="91"
																			src="{% static "images/Deficrypto-logo.png" %}"
																			class="attachment-full size-full" alt=""
																			decoding="async">
																	</a>
																</div><button
																	class="elementskit-menu-close elementskit-menu-toggler"
																	type="button">X</button>
															</div>
														</div>
														<div
															class="elementskit-menu-overlay elementskit-menu-offcanvas-elements elementskit-menu-toggler ekit-nav-menu--overlay">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-57bd0fd elementor-hidden-tablet elementor-hidden-mobile"
										data-id="57bd0fd" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-388d5f7 elementor-widget elementor-widget-button"
												data-id="388d5f7" data-element_type="widget"
												data-widget_type="button.default">
												<div class="elementor-widget-container">
													<div class="elementor-button-wrapper">
														<a class="elementor-button elementor-button-link elementor-size-xs"
														href="{% url 'porfolio:login' %}">
															<span class="elementor-button-content-wrapper">
																<span class="elementor-button-text">Log In</span>
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-b274882 elementor-hidden-tablet elementor-hidden-mobile"
										data-id="b274882" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-88e96f9 elementor-widget elementor-widget-button"
												data-id="88e96f9" data-element_type="widget"
												data-widget_type="button.default">
												<div class="elementor-widget-container">
													<div class="elementor-button-wrapper">
														<a class="elementor-button elementor-button-link elementor-size-xs"
														href="{% url 'porfolio:register' %}">
															<span class="elementor-button-content-wrapper">
																<span class="elementor-button-text">Sign Up</span>
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div id="primary" class="content-area">

		<article id="post-677" class="post-677 page type-page status-publish hentry">
			<main class="entry-content">
				<div data-elementor-type="wp-page" data-elementor-id="677" class="elementor elementor-677"
					data-elementor-post-type="page">
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-618e650 elementor-section-boxed elementor-section-height-default"
						data-id="618e650" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b056290"
								data-id="b056290" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-bc8c4c5 elementor-widget elementor-widget-text-editor"
										data-id="bc8c4c5" data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											
											<p>Effective Date: 21-07-2023</p>
											<p>At aitradelink.com, we are committed to protecting the privacy and
												security of our users’ personal information. This Privacy Policy
												outlines how we collect, use, disclose, and safeguard your information
												when you access our crypto trading and investment platform. By using
												aitradelink.com, you agree to the terms of this Privacy Policy.</p>
											<ol>
												<li><strong>Information We Collect:</strong></li>
											</ol>
											<p>1.1. Personal Information: When you sign up for an account or use our
												platform, we may collect personal information, including but not limited
												to your name, email address, date of birth, government-issued
												identification documents, and financial information.</p>
											<p><strong>1.2. Device and Log Information:</strong> We automatically
												collect certain information from your device and browser, such as your
												IP address, browser type, operating system, and timestamps. This data
												helps us analyze user behavior, improve our services, and ensure
												platform security.</p>
											<p><strong>1.3. Cookies and Similar Technologies:</strong> We use cookies
												and similar technologies to enhance your user experience and improve our
												platform’s functionality. Cookies may collect information about your
												browsing activities on our site.</p>
											<ol start="2">
												<li><strong>How We Use Your Information:</strong></li>
											</ol>
											<p>2.1. Account Management: We use your personal information to create and
												manage your account, authenticate your identity, and process
												transactions on the platform.</p>
											<p><strong>2.2. Communication:</strong> We may use your contact information
												to send you administrative and transactional messages, platform updates,
												and promotional materials related to our services.</p>
											<p><strong>2.3. Improving Services:</strong> We analyze user data to enhance
												and personalize your experience on aitradelink.com, optimize our
												platform’s performance, and introduce new features.</p>
											<p><strong>2.4. Compliance and Legal Obligations:</strong> We may process
												your information to comply with applicable laws and regulations, prevent
												fraud, and ensure compliance with our Terms of Service.</p>
											<p>2.5. Marketing: With your consent, we may use your information to offer
												you marketing communications about our products, services, promotions,
												and partners. You can opt-out of marketing communications at any time.
											</p>
											<ol start="3">
												<li><strong>How We Share Your Information:</strong></li>
											</ol>
											<p>3.1. Service Providers: We may share your personal information with
												trusted third-party service providers who assist us in running our
												business, such as payment processors, marketing partners, and customer
												support providers.</p>
											<p>3.2. Legal Requirements: We may disclose your information if required by
												law, court order, or government request, or if we believe such action is
												necessary to protect our rights, privacy, safety, or property.</p>
											<p>3.3. Business Transfers: In the event of a merger, acquisition, or sale
												of assets, your information may be transferred to the new entity as part
												of the transaction.</p>
											<ol start="4">
												<li><strong>Data Security:</strong></li>
											</ol>
											<p>We take appropriate measures to safeguard your personal information from
												unauthorized access, disclosure, alteration, and destruction. However,
												no data transmission over the internet or storage system can be
												guaranteed to be 100% secure. Therefore, we cannot guarantee the
												absolute security of your information.</p>
											<ol start="5">
												<li><strong>Your Choices:</strong></li>
											</ol>
											<p>5.1. Access and Update: You can access and update your account
												information by logging into your aitradelink.com account.</p>
											<p>5.2. Opt-Out: You can opt-out of marketing communications by following
												the instructions provided in the messages or by contacting our support
												team.</p>
											<ol start="6">
												<li><strong>Children’s Privacy:</strong></li>
											</ol>
											<p>aitradelink.com is not intended for use by individuals under the age
												of 18. We do not knowingly collect personal information from children.
												If you believe a child has provided us with their information, please
												contact us, and we will take appropriate steps to delete such data.</p>
											<ol start="7">
												<li>Changes to the Privacy Policy:</li>
											</ol>
											<p>We may update this Privacy Policy from time to time to reflect changes in
												our practices or for other operational, legal, or regulatory reasons. We
												will notify you of any material changes by posting the revised Privacy
												Policy on our platform or via email.</p>
											<ol start="8">
												<li><strong>Contact Us:</strong></li>
											</ol>
											<p>If you have any questions, concerns, or requests regarding this Privacy
												Policy or the data practices at aitradelink.com, please contact us
												at info@aitradelink.com</p>
											<p>By using aitradelink.com, you acknowledge that you have read and
												understood this Privacy Policy and consent to the collection, use, and
												disclosure of your personal information as described herein.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</main>
		</article>

	</div><!-- #primary -->



<!-- WhatsApp and Telegram Floating Buttons -->
<a href="https://wa.me/+15612071985" target="_blank" class="fab fab-left" aria-label="WhatsApp">
    <i class="fab fa-whatsapp"></i>
</a>

<a href="https://t.me/caesar_alpha" target="_blank" class="fab fab-right" aria-label="Telegram">
    <i class="fab fa-telegram"></i>
</a>


<style>

	.fab {
		position: fixed;
		bottom: 20px;
		width: 60px;
		height: 60px;
		color: white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		text-decoration: none;
		z-index: 1000;
		font-size: 28px;
		transition: transform 0.3s ease, opacity 0.3s ease;
	  }
	  
	  
	  .fab-left {
		left: 20px;
		background-color: #25d366; /* WhatsApp green */
	  }
	  
	  .fab-right {
		right: 20px;
		background-color: #0088cc; /* Telegram blue */
	  }
	  
	  .fab:hover {
		opacity: 0.8;
		transform: scale(1.1);
	  }
	  
	  .fab i {
		line-height: 1;
	  }
	  

</style>




{% endblock %}